doctype html
html(lang="en")
  head
    title= `美女搞笑俱乐部图库-${url}-${page}`
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>var _hmt = _hmt || [];(function() {var hm = document.createElement("script");hm.src = "https://hm.baidu.com/hm.js?3a7b57cb0187a6da8bfe7cbf6b9f462a";var s = document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm, s);})();</script>
    link(rel="stylesheet", href=`/css/index.css`)
    link(rel="stylesheet", href=`/css/spectre-icons.min.css`)
    link(rel='stylesheet', href=`https://cdn.bootcss.com/spectre.css/0.5.1/spectre.min.css`)
  body
    .wrap#app(@click='cancel')
      a.logo(href='/') 美女搞笑俱乐部 ♥
      .top_bar
        if url == 'gif'
          span 动图一 <span class='half'>></span> #{ page }
        else if url == 'gif2'
          span 动图二 <span class='half'>></span> #{ page }
        else if url == 'gif3'
          span 动图三 <span class='half'>></span> #{ page }
        else if url == 'pic'
          span 美女一 <span class='half'>></span> #{ page }
        else if url == 'pic2'
          span 美女二 <span class='half'>></span> #{ page }
        <div @click.stop='showMenu' class="accordion">
          .more 更多
          <i class="icon icon-arrow-down mr-1"></i>
        </div>
        .to_list(v-if='menuFlag' style='display: none')
          a(href=`/gif/1`) 动图一
          a(href=`/gif2/1`) 动图二
          a(href=`/gif3/1`) 动图三
          a(href=`/pic/1`) 美女一
          a(href=`/pic2/1`) 美女二
      each item in data
        .content
          .title #{ item.title }
          img.mmgif(src=`${ item.origin }`)
      .to_page_wrap
        .to_page.btn-group
          if page > 1
            a.btn(href=`/${ url }/${ page * 1 - 1 }`) 上一页
          a.btn(href=`/${ url }/${ page * 1 + 1 }`) 下一页
      .current
        span 去第
        input(v-model='toPageNum')
        span 页
        span.button.confirm(@click='toPage()') 确定
        span#url(style='display: none') #{ url }
        span.button.confirm(@click='toPage("random")') 随机
      .footer - enjoygirl.club -
    script(src='https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js')
    script(src="/js/index.js")
